
.homestyles{
    
    
    position: absolute;
    top: 80px;
    left: 800px;
    height: 450px;
   
    /* padding-left: 350px; */

    
    border-radius: 80px;
   
    
}

/* Home container styles */
 .home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f8f9fa; 
    border: 1px solid #ddd;  
    border-radius: 8px;
    max-width: 80%;
    margin: 20px auto; 
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  }


.home-container, .home-container-unique {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    position: relative;
    overflow: hidden;
}


/* Image styles */
.home-image {
    flex: 1; /* Takes up equal space */
    max-width: 300px; /* Optional size limit */
    border-radius: 10px;
    margin-right: 20px; /* Space between image and text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}
.home-image2 {
    flex: 1; /* Takes up equal space */
    max-width: 400px; /* Optional size limit */
    border-radius: 10px;
    margin-right: 20px; /* Space between image and text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    height: 400px;
}

/* Text container styles */
.home-text {
    flex: 2; /* Takes up more space than the image */
    text-align: left;
    color: #333;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Text heading styles */
.home-text h3 {
    font-size: 1.8rem;
    color: #27ae60; /* Fresh green color */
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

/* Text paragraph styles */
.home-text p {
    font-size: 1.0rem;
    color: #555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#p1{
    font-size: 1.0rem;
    color: #555;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}





