/* LoginForm.css */


.login-form-container {
    max-width: 500px; 
    margin: 100px auto; 
    padding: 20px;
    background: #f9f9f9; 
    border-radius: 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    background-image: url('./b2.jpg');
   
}
.login-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    font-style: italic;
    padding-left: 230px;
}

/* Form input fields */
.form-input {
    margin-top: 30px;
    border: 2px solid #007bff; 
    border-radius: 8px; 
    padding: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease; 
   
}


.form-input:focus,
.form-input:hover {
    border-color: #0056b3; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

/* Submit button */
.submit-button {
   
    background-color: #007bff;  
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 60px;
    margin-left: 320px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    
}


.submit-button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}

/* Responsive Design */
@media (max-width: 480px) {
    .login-form-container {
        width: 90%; 
        padding: 15px;
    }
    .login-title {
        font-size: 20px; 
    }
    .form-input {
        font-size: 14px; 
    }
    .submit-button {
        font-size: 16px;
    }
}
